# Handle files endings automatically for files as text and leave
# all files detected as binary untouched
* text=auto

# Reserve extensions for linux and unix files 
*.sh text eol=lf
*.bash text eol=lf
*.sim text eol=lf
*.bat text eol=crlf

*.gch
*.dylib
*.o
*.zip
*.lib
*.def
*.exp
*.obj
*.cod
*.db
*.vscode
*@@
*ilk
*idb
*pdb
*.lastbuildstate
*.unsuccessfulbuild
*.tlog
*.cache
*.log
*.obj
*.ilk
*.stackdump
*.orig
*.complex
simple.so
tasks.json
.DS_STORE

.vscode/
*vscode/

*/dist/

build/*.exe
build/*.obj

#simple
simple/nbproject/*
simple/build/*
simple/dist/*
simple/Makefile
simple/.dep.inc
simple/simple.rar
simple/simple.zip

#test files
examples/*.txt

#modules
#dynamic modules
modules/dynamic_modules/dist/*

#core dynamic module
modules/dynamic_modules/core_dynamic_module/build/*
modules/dynamic_modules/core_dynamic_module/nbproject/*
modules/dynamic_modules/core_dynamic_module/dist/*
modules/dynamic_modules/core_dynamic_module/.dep.inc
modules/dynamic_modules/core_dynamic_module/Makefile

#fulltick dynamic module
modules/dynamic_modules/fulltick/dist/fulltick.so
modules/dynamic_modules/fulltick/Debug/*
modules/dynamic_modules/fulltick/lib/*
modules/dynamic_modules/fulltick/x64/*
modules/dynamic_modules/fulltick/fulltick.vcxproj
modules/dynamic_modules/fulltick/fulltick.vcxproj.filters
modules/dynamic_modules/fulltick/fulltick.vcxproj.user
modules/dynamic_modules/fulltick/fulltick/

#exclude libuv for now
modules/dynamic_modules/simple_uv/

#environment app residuals
environment/bake/bake/
environment/minifier/minifier/
environment/modular/modular/
environment/simplebridge/simplebridge/
environment/simplepad/simplepad/
environment/simplerepl/simplerepl/
environment/supplement/supplement/

#we don't want the bakkery residual in the project
*_bake*
*_bake/
*.bake*

''$'\001\213\212''@@'

#android studio dep : we don't need em
simple.iml
