# Handle files endings automatically for files as text and leave
# all files detected as binary untouched
* text=auto

# Reserve extensions for linux and unix files 
*.sh text eol=lf
*.bash text eol=lf

*.gch
*.dylib
*.o
*.zip
*.lib
*.def
*.exp
simple.so
tasks.json
.DS_STORE

#simple
simple/nbproject/*
simple/build/*
simple/dist/*
simple/Makefile
simple/.dep.inc
simple/simple.rar
simple/simple.zip

#modules
#dynamic modules
modules/dynamic_modules/dist/*

#core dynamic module
modules/dynamic_modules/core_dynamic_module/build/*
modules/dynamic_modules/core_dynamic_module/nbproject/*
modules/dynamic_modules/core_dynamic_module/dist/*
modules/dynamic_modules/core_dynamic_module/.dep.inc
modules/dynamic_modules/core_dynamic_module/Makefile

#fulltick dynamic module
modules/dynamic_modules/fulltick/Debug/*
modules/dynamic_modules/fulltick/lib/*
modules/dynamic_modules/fulltick/fulltick.vcxproj
modules/dynamic_modules/fulltick/fulltick.vcxproj.filters
modules/dynamic_modules/fulltick/fulltick.vcxproj.user
